<div style="height: 50%; width:50%">
  <h4> Search For Git Events! </h4>
  <div>
    <div class='row' style="padding-bottom: 10px;">
      <div class="col-xs-10 col-md-6">
        {{input value=userNameQuery class="form-control" placeholder="git username" enter="search" disabled=isSearching required=true}}
      </div>
      <div class="col-xs-10 col-md-6">
        {{input value=userNameQuery class="form-control" placeholder="git username" enter="search" disabled=isSearching required=true}}
      </div>
    </div>
    <button class="btn btn-lg">
      Search
    </button>
  </div>
  {{yield}}
</div>
